<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
<div class="row">
    <div class="col-lg-12">
        <section class="panel">
            <header class="panel-heading">
                History:
            </header>

            <table class="table table-striped table-advance table-hover">
            <caption>Creditors</caption>
              <thead>
                <tr>
                <th scope="col">Name</th>
                <th scope="col">Data</th>
                <th scope="col">Type</th>
                    <th scope="col">Value</th>
                 </tr>
               </thead>
        <tfoot>
        </tfoot>
        <tbody>
        <tr>
            <th scope="row">Ion Necula </th>
            <td data-title="Data">10.05.2003</td>
            <td data-title="Type">Consum</td>
            <td data-title="Value" data-type="currency">10.234</td>
        </tr>
        <tr>
            <th scope="row">Andrei Vlad </th>
            <td data-title="Data">10.07.2003</td>
            <td data-title="Type">Consum</td>
            <td data-title="Value" data-type="currency">20.234</td>
        </tr>
        <tr>
            <th scope="row">SC FERTEC </th>
            <td data-title="Data">13.04.2003</td>
            <td data-title="Type">Finantare</td>
            <td data-title="Value" data-type="currency">100.234</td>
        </tr>
        <tr>
            <th scope="row">SC Lucason </th>
            <td data-title="Data">23.10.2003</td>
            <td data-title="Type">Finantare</td>
            <td data-title="Value" data-type="currency">$200.234</td>
        </tr>
        <tr>
            <th scope="row">Ion Necula </th>
            <td data-title="Data">12.01.2004</td>
            <td data-title="Type">Consum</td>
            <td data-title="Value" data-type="currency">$10.234</td>
        </tr>
        <tr>
            <th scope="row">Vlad Ioan </th>
            <td data-title="Data">23.03.2004</td>
            <td data-title="Type">Consum</td>
            <td data-title="Value" data-type="currency">$20.234</td>
        </tr>
        <tr>
            <th scope="row">SC CAPSTRING </th>
            <td data-title="Data">12.05.2004</td>
            <td data-title="Type">Finantare</td>
            <td data-title="Value" data-type="currency">$130.234</td>
        </tr>
        <tr>
            <th scope="row">SC VERMAC </th>
            <td data-title="Data">22.08.2003</td>
            <td data-title="Type">Finantare</td>
            <td data-title="Value" data-type="currency">$240.234</td>
        </tr>
        <tr>
            <th scope="row">SC KILOAT </th>
            <td data-title="Data">20.03.2003</td>
            <td data-title="Type">Finantare</td>
            <td data-title="Value" data-type="currency">$340.234</td>
        </tr>
        <tr>
            <th scope="row">SC LOWATT </th>
            <td data-title="Data">90.07.2003</td>
            <td data-title="Type">Finantare</td>
            <td data-title="Value" data-type="currency">$140.234</td>
        </tr>
        </tbody>
    </table>
        </section>
    </div>
</div>
</body>
</html>