<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Your Account</title>
  <link rel="stylesheet" href="css/style.css">
</head>
<body>
<h1>
  <div class="title">Welcome To Your Account!</div>
</h1>
<div class="">
  Below is your profile and other options to use the application:
</div>
<div class="form">
  <form>
    <div class="title">Account Data:
      <a href="/History">History</a>
    </div>
    <div class="input-box">Your actions:
      <a href="/Creditors">Creditors</a>
    </div>
    <div class="input-box">Date: 27.05.2023
    </div>
    <div class="input-box">Your Debts:
      <a href="/Debts">DebtsDetail</a>
    </div>
    <div class="input-box">
      <a href="/descriptionForm">Report a problem</a>
      <div>
        <a href="/Contact">Contact</a>
      </div>
    </div>

  </form>
</div>
</body>
</html>