<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Your Account</title>
    <link  rel="stylesheet" href="../static/css/style.css">
</head>
<body>
  <h1>
  <div class="title">Welcome To Your Account!</div>
  </h1>
  <div class="">
      Below is your profile and other options to use the application:
  </div>
<div class="form">
    <form>
        <div class="title">Account Data:
            <input>a</input>
        </div>
        <div class="input-box">Your actions:
            <input>a</input>
        </div>
        <div class="input-box">Date:
            <input>a</input>
        </div>
        <div class="input-box">Your Debts:
            <input>a</input>
        </div>
        <a href="Debts.html">DebtsDetail</a>
        <a href="History.html">History</a>
        <a href="Creditors.html">Creditors</a>
        <div class="input-box">
            <a href="descriptionForm.html">Report a problem</a>
            <div>
            <a href="Contact.html">Contact</a>
            </div>
        </div>
    </form>
</div>
</body>
</html>